input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.add>img{
    width: 26px;
    cursor: pointer;
}

.lm-5{
    margin-left: 5px;
}