input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.add>img{
    width: 26px;
    cursor: pointer;
}

.lm-5{
    margin-left: 5px;
}
.iopDesc{
    /* width: 60%; */
    margin-left: -31%;
    margin-top: 3%;
}
.plus-icon{
    margin-top: 1%;
    height: 65%;
    width: 8%;
    cursor: pointer;
}
#signReSphr,#signReCyln,#signLeCyln,#signLeSphr{
    font-weight: 700;
    font-size: 26px;
    color: #b42a2a;
}